.container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 500px;
  min-height: 100px;
  border: 2px solid #000;
  display: flex;
  padding: 10px;
}
.box p {
  font-size: 24px;
  margin: 20px 0;
}
